@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Francisco Lameu 295 <br />
    Bela Vista, Osasco 06086-910<br />
    <abbr title="Phone">Phone:</abbr>
    +55 14 997463830
</address>

<address>
    <strong>Support:</strong> <a href="mailto:eajribeiro@gmail.com">eajribeiro@gmail.com</a><br />
</address>
